*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fefae0;
}

.heading{
    text-align: center;
    color: #283618;
}

.game{
    text-align: center;
    height: 400px;
    width: 400px;
    margin: 0 auto; 
}

.box {
    height: 80px;
    width: 80px;
    margin: 10px;
    display: flex;
    border-radius: 1rem;
    background-color: #606c38;
    color: white;
    display: inline-block;
    font-size: 40px;
}

.reset-btn{
    text-align: center;
    margin-top: 10px;
}
